{% extends 'base' %}

{% block title %}{{ site_title }}{% endblock %}


{% block body %}

<div class="container-lg">
{% for server in servers %}
    <div class="card {% if server.status.active %} border-success {% endif %} float-md-left m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ server.config.name }}</h5>
            <p class="card-text">
                Players online: {{ server.status.playerCount }} <br/>
                Playerlist: {{ server.status.playerList }} <br/>
            </p>
            <a href="{{ server.config.dynmapAddress }}" target="_blank" class="btn {% if server.status.active %} btn-primary {% endif %}">Open dynmap</a>
        </div>
</div>
{% endfor %}
</div>

{%  endblock %}

{% block javascripts %}
<script type="text/javascript">
    setInterval(() => window.location.reload(), 30000);
</script>
{%  endblock %}